<h1 class="mt-3">
  Pipes <small>Angular</small>
</h1>

<div class="row">
  <div class="col">
    <table class="table" description="Table with data" aria-describedby="table-description">
      <thead class="table-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ nombre }}</td>
          <td>Uppercase</td>
          <td>{{nombre | uppercase  }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>Lowercase</td>
          <td>{{nombre | lowercase  }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>Slice:3</td>
          <td>{{nombre | slice:3  }}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>Slice:0:3</td>
          <td>{{nombre | slice:0:3  }}</td>
        </tr>
        <tr>
          <td>{{ arreglo }}</td>
          <td>Slice:1:5</td>
          <td>{{arreglo | slice:1:5  }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>Number/DecimalPipe</td>
          <td>{{ PI | number:'3.0-0'  }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>Number/DecimalPipe</td>
          <td>{{ PI | number:'.0-2'  }}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>Porcentaje</td>
          <td>{{ porcentaje | percent  }}</td>
        </tr>
        <tr>
          <td>{{ porcentaje }}</td>
          <td>Porcentaje | percent:'2.2-2'</td>
          <td>{{ porcentaje | percent:'2.2-2'  }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>Currency</td>
          <td>{{ salario | currency }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>Currency | currency:'EUR'</td>
          <td>{{ salario | currency:'EUR' }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>Currency | currency:'CAD':'symbol-narrow':'.0-0'</td>
          <td>{{ salario | currency:'CAD':'symbol-narrow':'.0-0' }}</td> 
        </tr>
        <tr>
          <td>{{ valorDePromesa }}</td>
          <td>Async pipe</td>
          <td>{{ valorDePromesa | async  }}</td> 
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>Date</td>
          <td>{{ fecha | date }}</td> 
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>Date | date:'medium'</td>
          <td>{{ fecha | date:'medium' }}</td> 
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>Date | date:'short'</td>
          <td>{{ fecha | date:'short' }}</td> 
        </tr>
        <tr>
          <td>{{ fecha }}</td>
          <td>Date | date:'MMMM - dd'</td>
          <td>{{ fecha | date:'MMMM - dd' }}</td> 
        </tr>
      </tbody>

    </table>


    <h4>Slice</h4>
  <ul>
    <!-- @for ((item of arreglo | slice:15:20) ; track item) {
      <li>{{item }} -- {{item}}</li>
    } @empty{
      <li>vacio</li>
    } -->
    <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
  </ul>

  <h3>JSON</h3>
  <hr>
  <div class="row mb-5">
    <div class="col">
      <pre>{{json | json}}</pre>
    </div>
  </div>

  </div>
</div>